.form {
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 230px;
}

.form > label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

input[name="delay"], fieldset{
    border: 1px solid #808080;
    border-radius: 4px;
    outline: none;
}

input[name="delay"] {
    height: 40px;
    padding: 8px 16px;
}

fieldset {
    display: flex;
    height: 64px;
    justify-content: center;
    margin-bottom: 24px;
}

input[name="delay"]:hover, fieldset:hover {
    border: 1px solid #000;
}

input[name="delay"]:active, fieldset:active{
    border: 1px solid #4e75ff;
}

.form > button {
    background-color: #4e75ff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}